body {
    background: #000;
}


.launcher {
    width: 134px;
}
#forms {
    float: right;
}
#tool {
    width: 30px;
}
#my_select {
    border: 0px solid;
    color: rgb(255, 255, 255);
    background: rgba(255, 228, 196, 0);
	font-size: 18px;
}
#my_select  option {
    color: black;
}